.jumbotron{
    background-image:url("/img/pizza.jpeg");
    height: 346px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron h2 {
    background-color: white;
    opacity: 0.75;
    width: 100%;

}



