.jumbotron{
    background-image:url("/img/pizza.jpeg");
    height: 346px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron h2 {
    width: 100%;
    /*border: 1px solid white;*/
    background-color: white;
}

/*Use Jumbotron Class */

