/*
this file is named "site.css" and is in a directory named "css"
*/

h1 {
    color: purple;
    text-align: center;

}

.fancy-header, h2{
    color: magenta;
    text-decoration: underline;
}

body{
    background-color: yellow ;


}




